@import url("./light-bootstrap-dashboad.css");
@import url("./tagsinput.css");
@import url("./multi-select.css");

/* custom css */
@import url("custom-input.css");
@import url("skill-input.css");
@import url("datetimepicker.css");
@import url("toggle-input.css");

.custom-is-invalid {
    border-color: #dc3545 !important;
}

.rating-container .caption-secondary {
    display: none;
}

.text-purple {
    color: #6b02b1 !important;
}
.badge-purple {
    color: #fff;
    background-color: #6b02b1;
}
.text-pink {
    color: rgb(255, 23, 228) !important;
}
.badge-pink {
    color: #fff;
    background-color: rgb(255, 23, 228) !important;
}
